body,
html {
  height: 100%;
}
body {
  background-image: url(../assets/paper-texture.jpg);
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}
#secret-message {
  width: 80%;
  position: relative;
  margin: auto;
  top: 20%;
  text-align: center;
}
.word {
  margin-right: 27px;
  display: inline-block;
}
.letter {
  font: 40px courier;
  line-height: 1.5em;
  margin: 0px 2px;
  color: black;
  position: relative;
  white-space: pre;
  display: inline-block;
}
.letter.hinted {
  color: #ddd;
}
.letter:before {
  content: "_";
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}
.letter.solved:before {
  content: "";
  display: none;
}
#feedback {
  font: 20px courier;
  position: relative;
  text-align: center;
  top: 30%;
  color: #bbb;
}
#feedback.match {
  color: #aaddaa;
}
#feedback.no-match {
  color: #ddaaaa;
}

#score {
  font-size: 60px;
  position: absolute;
  bottom: 30px;
  right: 60px;
  color: #ccc;
}

#play-actions {
  position: absolute;
  left: 30px;
  bottom: 60px;
  display: none;
}

.button {
  padding: 14px 10px;
  background: #bbb;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background: #aaa;
}
.button.secondary {
  background: #eee;
  border: 1px solid #ddd;
  color: #bbb;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.button.secondary:hover {
  background: #eaeaea;
}

#settings {
  position: absolute;
  left: 25px;
  bottom: 7px;
}
.small-link {
  cursor: pointer;
  display: inline-block;
  margin-right: 7px;
  padding: 10px;
  font: 22px "Ionicons";
  color: #bbb;
}
#mute-music-button:before {
  content: "\f46c";
}
#mute-sfx-button:before {
  content: "\f4ce";
}
#mute-music-button.muted {
  color: #ddd;
}
#mute-sfx-button.muted {
  color: #ddd;
}

#buy-hints {
  display: none;
  background: #eee;
  text-align: center;
  border: 2px solid #999;
  border-radius: 10px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  height: 50%;
  width: 50%;
  margin: auto;
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#buy-hints h3 {
  color: #666;
  font-size: 28px;
  font-weight: bold;
}
#buy-hints #next-free-hint {
  font-weight: bold;
}
#buy-hints p {
  color: #666;
  font-size: 20px;
}
#buy-hints #cancel-buy-hints {
  position: absolute;
  width: 20%;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}


#user-info {
  display: none;
  position: absolute;
  top: 20px;
  right: 30px;
  width: auto;
  font-size: 14px;
  color: #ccc;
  text-align:right;
}
#total-solved {
  color: #aaddaa;
}
#total-skipped {
  color: #ddaaaa;
}
#total-score {
  font-weight: bold;
}
