body,
html {
  height: 100%;
}
body {
  background-image: url(../assets/paper-texture.jpg);
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}
#quote {
  width: 80%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 40%;
  text-align: left;
  font: 35px Helvetica;
  color: #aaa;
  padding: 20px;
}
#feedback {
  font: 20px courier;
  position: relative;
  text-align: center;
  top: 20%;
  color: #bbb;
}
#edit-actions {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  top: 80%;
  display: none;
  width: 50%;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 14px 10px;
  background: #bbb;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background: #aaa;
}
.button.secondary {
  background: #eee;
  border: 1px solid #ddd;
  color: #bbb;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.button.secondary:hover {
  background: #eaeaea;
}

