body,
html {
  height: 100%;
}
body {
  background-image: url(assets/paper-texture.jpg);
  padding: 0;
  margin: 0;
}
#secret-message {
  font: 40px courier;
  letter-spacing: 5px;
  line-height: 1.5em;
  white-space: pre-wrap;
  width: 80%;
  position: relative;
  margin: auto;
  top: 20%;
  text-align: center;
}
#feedback {
  font: 20px courier;
  position: relative;
  text-align: center;
  top: 40%;
  color: #bbb;
}
#score {
  font: 60px Helvetica;
  position: absolute;
  bottom: 30px;
  right: 60px;
  color: #ccc;
}

#play-actions {
  position: absolute;
  left: 30px;
  bottom: 40px;
}

.button {
  padding: 14px 10px;
  background: #bbb;
  color: #fff;
  font: 20px Helvetica;
  border-radius: 6px;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background: #aaa;
}
.button.secondary {
  background: #eee;
  border: 1px solid #ddd;
  color: #bbb;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.button.secondary:hover {
  background: #eaeaea;
}
