body,
html {
  height: 100%;
}
body {
  background-image: url(assets/paper-texture.jpg);
  padding: 0;
  margin: 0;
}
#secret-message {
  font: 40px courier;
  letter-spacing: 5px;
  line-height: 1.5em;
  white-space: pre-wrap;
  width: 80%;
  position: relative;
  margin: auto;
  top: 20%;
  text-align: center;
}
#feedback {
  font: 20px courier;
  position: relative;
  text-align: center;
  top: 40%;
  color: #bbb;
}
#score {
  font: 60px Helvetica;
  position: absolute;
  bottom: 30px;
  right: 60px;
  color: #ccc;
}
#give-up {
  display: none;
  font: 14px Helvetica;
  position: absolute;
  bottom: 30px;
  left: 60px;
  color: #ccc;
}
