body,
html {
  height: 100%;
}
body {
  background-image: url(assets/paper-texture.jpg);
}
#secret-message {
  font: 40px courier;
  letter-spacing: 5px;
  line-height: 1.5em;
  width: 80%;
  position: relative;
  margin: auto;
  top: 20%;
  text-align: center;
}
#feedback {
  font: 20px courier;
  position: relative;
  text-align: center;
  top: 40%;
  color: #ccc;
}
#score {
  font: 70px Helvetica;
  position: absolute;
  bottom: 30px;
  right: 60px;
  color: #ddd;
}
