@media only screen and (max-device-width: 480px) {
  #owl {
    display: none;
  }

  #game {
    height: auto;
    bottom: 130px;
  }

  .confirmedGiveUp #game, .solved #game {
    bottom: 0px;
  }

  #keyboard-container {
    height: 130px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border: 1px solid #e5e5e5;
  }

  .confirmedGiveUp #keyboard-container, .solved #keyboard-container {
    display: none;
  }

  .letter {
    font-size: 24px;
    margin-top: 5px;
    line-height: 1.1em;
  }

  .letter:before {
    border-width: 1px;
  }

  .word {
    margin-right: 12px;
  }

  #user-info {
    left: 10px;
    top: 10px;
  }

  #settings {
    right: 10px;
    top: 10px;
  }

  #settings .small-link {
    padding: 5px;
    padding-top: 0px;
  }

  #secret-message {
    width: 90%;
    margin-top: 25%;
  }

  #source {
    width: 90%;
    font-size: 16px;
    margin-top: 10px;
  }

  #feedback {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-size: 14px;
  }

  #feedback #share {
    margin-top: 0;
  }

  #social .button {
    margin: 0 0px 10px 0px;
    padding: 8px 7px;
  }

  .start #feedback {
    margin-top: 50%;
  }

  #score {
    font-size: 30px;
    line-height: 30px;
    width: 70px;
    right: 0;
    bottom: 10px;
  }

  #play-actions {
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

  #play-actions .button {
    display: inline-block;
  }

  .button {
    font-size: 12px;
  }

  #owl {
    height: 50px;
    width: 50px;
  }

  #dialog {
    width: 90%;
    height: 90%;
    top: 20px;
    bottom: auto;
    padding: 20px;
  }

  #dialog h3 {
    font-size: 35px;
  }

  #dialog div {
    font-size: 16px;
  }

  #dialog .button {
    margin-top: 20px;
  }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 375px) {
  #secret-message {
    margin-top: 25%;
  }

  #feedback {
    margin-top: 20px;
    font-size: 20px;
  }
   #play-actions .button {
     font-size: 15px;
     padding: 5px;
     margin-top: 5px;
   }
}

/* iPhone 4 */
@media only screen and (max-device-width: 320px) and (max-device-height: 480px) {
  #user-info {
    font-size: 12px;
  }

  #secret-message {
    margin-top: 20%;
  }

  #owl {
    display: none;
  }

  #play-actions .button {
    float: left;
    margin-right: 10px;
  }
}

