body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../assets/paper-texture.jpg);
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Averia Libre', Helvetica;
}

#game {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
#keyboard-container {
  height: 0%;
  overflow: hidden;
}
#load-font {
  visibility: hidden;
  font-family: 'Cabin Sketch', Helvetica;
}

#title-screen{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  background-image: url(../assets/paper-texture.jpg);
  text-align: center;
  z-index: 9999;
}

#title-screen h1, #title-screen h2 {
  font-family: courier;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 85px;
  z-index: 3;
}

#title-screen h1 {
  margin-bottom: 10px;
}

#title-screen h2 {
  margin-top: 10px;
  font-size: 40px;
  color: #999;
}

#start-game {
  display: inline-block;
  padding: 10px 70px;
  margin-top: 30px;
  position: relative;
  z-index: 9;
}

#title-owl {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-image: url(../assets/quote-owl-icon.jpg);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 50% 290px;
}

#secret-message {
  width: 80%;
  position: relative;
  margin: auto;
  top: 20%;
  text-align: center;
}
#source {
  display: none;
  font: 20px courier;
  color: #555;
  width: 80%;
  position: relative;
  margin: auto;
  top: 25%;
  text-align: center;
}
#source:before {
  content: "-- ";
}
.word {
  margin-right: 27px;
  display: inline-block;
}
.letter {
  font: 40px courier;
  line-height: 1.3em;
  color: black;
  position: relative;
  white-space: pre;
  display: inline-block;
  margin-top: 20px;
}
.letter.hinted {
  color: #ddd;
}
.letter:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid black;
  width: 80%;
  right: 0;
  margin: auto;
}
.letter.revealed:before, .letter.hintedfilled:before {
  border-color: #62D3FB;
}
.letter.solved:before {
  content: "";
  display: none;
}
#feedback {
  position: relative;
  top: 30%;
  font: 20px courier;
  text-align: center;
  color: #bbb;
}
#feedback.match #message {
  color: #aaddaa;
}
#feedback.no-match #message {
  color: #ddaaaa;
}

#social {
  display: none;
  margin-top: 20px;
}
#social .button {
  display: inline-block;
  margin: 0 10px 20px 10px;
}

#score {
  width: 100px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #777;
}

#play-actions {
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: none;
}

.button {
  padding: 8px;
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  font-weight: 700;
  color: black;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  background: #777;
  color: #eee;
}

#settings {
  position: absolute;
  right: 30px;
  top: 10px;
}
.small-link {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-right: 7px;
  padding: 10px;
  font: 22px "Ionicons";
  color: #bbb;
}
#mute-music-button:before {
  content: "\f46c";
}
#mute-sfx-button:before {
  content: "\f4ce";
}
#help-button:before {
  content: "\f445";
}
#mute-music-button.muted {
  color: #ddd;
}
#mute-sfx-button.muted {
  color: #ddd;
}

.dialog {
  display: none;
  background: #eee;
  border: 2px solid #999;
  text-align: center;
  color: #666;
  box-sizing: border-box;
  font-size: 20px;
  height: 60%;
  width: 80%;
  overflow: auto;
  margin: auto;
  padding: 50px 50px;
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  z-index: 9;
}
#dialog h3 {
  margin-top: 0;
  color: #777;
  font-family: 'Cabin Sketch', Helvetica;
  font-size: 44px;
  font-weight: bold;
}
#dialog #next-free-hint {
  font-weight: bold;
}
#dialog p {
  text-align: justify;
  padding-bottom: 20px;
}
#dialog a {
  color: #777;
}
#dialog ul {
  text-align: left;
  padding: 0 5%;
}
#dialog .button {
  min-width: 20%;
  left: 0;
  right: 0;
  display: inline-block;
  margin-top: 50px;
  margin-left: 10px;
}

#user-info {
  display: none;
  position: absolute;
  top: 20px;
  left: 30px;
  width: auto;
  font-size: 14px;
  color: #ccc;
}
#total-score {
  font-weight: bold;
}
.login-link {
  display: none;
  font-size: 90%;
  cursor: pointer;
  text-decoration: underline;
}

#owl {
  position: absolute;
  bottom: 15px;
  left: 0px;
  height: 100px;
  width: 140px;
  background-image: url(../assets/owl-normal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  transform: translate3d(100px, 0, 0);
  transition: transform .2s ease-out;
  z-index: 9;
}

#owl.blink {
  background-image: url(../assets/owl-blink.png);
}

body.solved #owl{
  background-image: url(../assets/owl-happy.png);
}

body.confirmedGiveUp #owl{
  background-image: url(../assets/owl-sad.png);
}



/* Media queries */

@media (max-width: 1000px) {
  #secret-message {
    width: 90%;
  }
}
